
html {
    position: relative;
    min-height: 80%;
}

body {
    background-image: url('/assets/img/burger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li {
    padding: 5px;
    margin-right: 5px;
    background: #eb87da;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin: 5em;
  }
  